@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@200;300&display=swap");
/*BTW as cores que estão agora são só um exemplo não sao as finais*/
/*rgba(255, 255, 255, 0) transparent*/
/*Letra roboto não está a funcionar ;-; por isso até resposta postetior ira ser arial*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

/* header */

.header {
  justify-content: space-between;
  background: #32cd32;
}

/* top */

.top {
  width: auto;
  padding-top: 1%;
  vertical-align: middle;
  text-align: center;
}

.logo {
  vertical-align: middle;
  display: inline-block;
  width: auto;
}

.logoIMG {
  height: 70px;
}

.weatherWidget {
  vertical-align: middle;
  display: inline-block;
  position: relative;
}

.weatherWidgetTablet {
  visibility: hidden;
  position: absolute;
}

.weatherWidgetPhone {
  visibility: hidden;
  position: absolute;
}

/* menu */

.sideBtnPhone {
  visibility: hidden;
  position: absolute;
}

.menuText {
  border-bottom: 2px solid #32cd32;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding-top: 1%;
  padding-bottom: 1%;
}

.menuText:hover {
  border-bottom: 2px solid #fff;
  color: #fff;
}

.menuText:focus {
  border-bottom: 2px solid #fff;
  color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  background-color: #32cd32;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
  border-bottom: 1px solid white;
}

li {
  display: inline-block;
  padding-left: 4%;
  padding-right: 4%;
  list-style: none;
}

.navMenu
{
  z-index: 2;
}

.navMenu,
li,
a:hover {
  color: white;
  text-decoration: none;
}

/* main */

.main {
  font-size: 14px;
  text-align: justify;
  background-color: #c1f0c1;
}

.slideshow {
  width: 100%;
}

.slideshowimgs {
  width: 77%;
  height: 500px;
}

.news {
  float: right;
  width: 23%;
}

.welcome {
  margin-left: 1%;
  width: 77%;
  text-align: justify;
  background-color: #c1f0c1;
}

/*Caroussel*/

.marcass {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
}

.marcass::before,.marcass::after {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
  content: "";
  position: absolute;
}

.marcass::before {
  top: 0;
  left: 0;
}

.marcass::after {
  top: 0;
  right: 0;
  transform: rotateZ(180dge);
}

.marcass,.marcas {
  display: flex;
  width: calc(100px * 26); /*Bar size*/
  animation: scroll 40s infinite linear; /*Velocidade*/
}

.marcass,.marca img {
  width: auto;
  height: 100px;
  display: flex;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(calc(-100px * 13));
  }
}

/*End Caroussel*/

/*Marcas da pagina marcas*/

.marcasI {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.marcaI {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.marcasTabletI {
  position: absolute;
  visibility: hidden;
}

.marcaTabletI {
  position: absolute;
  visibility: hidden;
}

/*gallery*/

.gallery {
  width: 100%;
}

.photo {
  border-radius: 10px;
  border: 2px white solid;
  background-color: black;
  display: inline-block;
  width: 33%;
  height: 300px;
  overflow: hidden;  
}

.photo:hover img{
  transform: scale(1.5);
  transition: transform 1s ease;
}

.photoWH
{
  width:100%;
  height:100%;
}

.photoWHV
{
  width: 100%;
}

/*ImageView*/
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 200px;
}

/* Position the "prev button" to the left */
.prev {
  left: 0;
  border-radius: 200px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/*End ImageView*/

/**/

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  font-size: large;
}

/*footer*/

footer {
  font-family: "Roboto", sans-serif;
}

.footerBottom {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 2%;
  position: absolute;
  width: 100%;
  background-color: #333;
  color: #fff;
}

.wheretofindusFooter {
  float: left;
}

.contactusFooter {
  margin-left: 20%;
  float: left;
}

.openFooter {
  float: right;
  margin-right: 20px;
}

/* form */

.mapa {
  height: none;
}

.form-control {
  background-color: #fff;
  border-color: #a4a4a4;
  height: 50px;
  border-radius: 20px;
  box-shadow: none;
  font-size: 20px;
}

textarea.form-control {
  min-height: 180px;
  resize: none;
  font-size: 20px;
}

.form-group {
  margin-bottom: 30px;
  font-size: 20px;
}

.contact-info {
  color: #000;
}

.contact-a:hover {
  color: #81f781;
}

.contact-address {
  float: right;
  margin-left: 4%;
  width: 35.3333%;
}

.btn {
  width: 160px;
  margin: 20px;
  font-size: 18px;
}

/* contactos */

.contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}
.contact-items {
  width: 400px;
}
.contact-item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}

.contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}

.contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

/*End contact Section */

@media only screen and (max-width: 992px) {
  /*Tablet*/

  /* header */

  .header {
    background: #32cd32;
  }

  /* top */

  .top {
    width: 100%;
    padding-top: 1%;
    vertical-align: middle;
    text-align: center;
  }

  .logo {
    vertical-align: middle;
    display: inline-block;
    width: auto;
  }

  .logoIMG {
    height: 70px;
  }

  .weatherWidget {
    visibility: hidden;
    position:absolute;
    left: -99999px;
  }

  .weatherWidgetTablet {
    display: inline-block;
    visibility: visible;
    position: inherit;
  }

  .weatherWidgetPhone {
    visibility: hidden;
    position: absolute;
  }

  /* menu */

  .sideBtnPhone {
    visibility: hidden;
    position: absolute;
  }

  .menuText {
    border-bottom: 2px solid #32cd32;
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .menuText:hover {
    border-bottom: 2px solid #fff;
    color: #fff;
  }

  nav {
    background-color: #32cd32;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    padding-top: 1%;
    padding-left: 5px;
    padding-right: 5px;
    list-style: none;
  }

  .navMenu,
  li,
  a:hover {
    color: #f5f6ce;
    text-decoration: none;
  }

  /* main */
  .slideshow {
    width: 100%;
  }

  .slideshowimgs {
    width: 100%;
    height: 400px;
  }

  .news {
    visibility: hidden;
    position: absolute;
  }

  /*********Marcas da pagina marcas**********/

  .marcasI {
    visibility: hidden;
    position: absolute;
  }

  .marcaI {
    visibility: hidden;
    position: absolute;
  }

  .marcasTabletI {
    text-align: center;
    display: inline-block;
    width: 100%;
    visibility: visible;
    position: inherit;
  }

  .marcaTabletI {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    visibility: visible;
    position: inherit;
  }

  /******************************************/

  .welcome {
    width: 98%;
    text-align: justify;
    margin-left: 1%;
  }

  .gallery {
    width: 100%;
  }

  .photo {
    border-radius: 10px;
    border: 2px white solid;
    background-color: black;
    display: inline-block;
    width: 32.7%;
    height: 200px;
  }

  h1 {
    font-size: 1.5em;
    font-weight: bold;
  }
  h2 {
    font-size: large;
  }

  /* footer */

  .footerBottom {
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 2%;
    position: absolute;
    width: 100%;
    background-color: #333;
    color: #fff;
  }

  .wheretofindusFooter {
    float: left;
  }

  .contactusFooter {
    float: left;
    margin-right: 4%;
  }

  .openFooter {
    float: left;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 2%;
  }

  /* form */

  .mapa {
    height: none;
  }

  .form-control {
    background-color: #fff;
    border-color: #a4a4a4;
    height: 50px;
    border-radius: 20px;
    box-shadow: none;
    font-size: 20px;
  }

  textarea.form-control {
    min-height: 180px;
    resize: none;
    font-size: 20px;
  }

  .form-group {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .contact-info {
    color: #000;
  }

  .contact-a:hover {
    color: #81f781;
  }

  .contact-address {
    float: right;
    margin-left: 4%;
    width: 35.3333%;
  }

  .btn {
    width: 160px;
    margin: 20px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  /*Phone*/
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* header */

  .header {
    justify-content: space-between;
    background: #32cd32;
  }

  /* top */

  .top {
    width: auto;
    padding-top: 1%;
    vertical-align: middle;
    text-align: center;
  }

  .logo {
    vertical-align: middle;
    display: inline-block;
    width: auto;
  }

  .logoIMG {
    height: 70px;
  }

  .weatherWidget {
    position: absolute;
    visibility: hidden;
  }

  .weatherWidgetTablet {
    visibility: hidden;
    position:absolute;
    left: -99999px;
  }

  .weatherWidgetPhone {
    position: relative;
    visibility: visible;
    vertical-align: middle;
    display: inline-block;
  }

  /* menu */

  .sideBtnPhone {
    width: 10%;
    height: 10%;
    background-color: white;
    border: none;
    float: left;
    visibility: visible;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 50px;
    position: absolute;
  }

  .rightBtn {
  }

  .leftBtn {
    visibility: hidden;
  }

  .menuText,
  li,
  a {
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .menuText {
    border-bottom: 2px solid #32cd32;
  }

  .menuText:hover {
    border-bottom: 2px solid #fff;
    color: #fff;
  }

  nav {
    background-color: #32cd32;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    visibility: hidden;
    position: absolute;
  }

  li {
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    list-style: none;
  }

  .navMenu,
  li,
  a:hover {
    color: #f5f6ce;
    text-decoration: none;
  }

  /* main */

  .slideshow {
    width: 100%;
  }

  .slideshowimgs {
    width: 100%;
    height: 300px;
  }

  .news {
    position: absolute;
    visibility: hidden;
  }

  /*********Marcas da pagina marcas*/
  .marcasI {
    text-align: center;
    display: inline-block;
    width: 100%;
  }

  .marcaI {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  /*******************/

  .welcome {
    width: 98%;
    text-align: justify;
  }

  .gallery {
    width: 110%;
  }

  .photo {
    border-radius: 10px;
    border: 2px white solid;
    background-color: black;
    display: inline-block;
    width: 33%;
    height: 300px;
  }

  h1 {
    font-size: 1.5em;
    font-weight: bold;
  }
  h2 {
    font-size: large;
  }

  /* footer */

  footer {
    font-family: "Roboto", sans-serif;
  }

  .footerBottom {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 2%;
    position: absolute;
    width: 100%;
    background-color: #333;
    color: #fff;
  }

  .wheretofindusFooter {
    float: left;
  }

  .contactusFooter {
    margin-left: 20%;
    float: left;
  }

  /* form */

  .mapa {
    height: none;
  }

  .form-control {
    background-color: #fff;
    border-color: #a4a4a4;
    height: 50px;
    border-radius: 20px;
    box-shadow: none;
    font-size: 20px;
  }

  textarea.form-control {
    min-height: 180px;
    resize: none;
    font-size: 20px;
  }

  .form-group {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .contact-info {
    color: #000;
  }

  .contact-a:hover {
    color: #81f781;
  }

  .contact-address {
    float: right;
    margin-left: 4%;
    width: 35.3333%;
  }

  .btn {
    width: 160px;
    margin: 20px;
    font-size: 18px;
  }
}