@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@200;300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*HEADER*/

.header {
  justify-content: space-between;
  background: #00b33c;
}

/*Top*/

.top {
  width: auto;
  padding-top: 1%;
  vertical-align: middle;
  text-align: center;
}

.logo {
  vertical-align: middle;
  display: inline-block;
  width: auto;
}

.logoIMG {
  height: 70px;
}

.weatherWidget {
  vertical-align: middle;
  display: inline-block;
}

/*Menu*/

.menuText,
li,
a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding-top: 2%;
  padding-bottom: 2%;
}

nav {
  background-color: #00b33c;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navMenu,
li {
  display: inline-block;
}

.navMenu,
li,
a {
  padding-left: 25px;
  padding-right: 25px;
  list-style: none;
}

.navMenu,
li,
a:hover {
  color: #955121;
  text-decoration: none;
}

/*MAIN*/

.main {
  font-family: "Roboto", sans-serif;
  background-image: url(../Images/background.jpg);
  margin-top: -15px;
  padding-top: 1%;
  color: white;
}

.slideshow {
  margin-top: 1%;
  margin-left: 1%;
  width: 78%;
  margin: auto;
  margin-top: 1%;
}

.slideshowGaleria {
  margin-top: 1%;
  width: 78%;
  margin: auto;
  margin-top: 1%;
  margin-left: 22%;
}

.slideshowimgs {
  width: 70%;
  height: 400px;
}

.news {
  width: auto;
  float: right;
  margin-right: 1%;
}

.welcome {
  margin-left: 1%;
  width: 54%;
  text-align: justify;
  margin-left: 11%;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 1.5em;
  font-weight: bold;
}
h2 {
  font-size: large;
}

/*FOOTER*/

footer {
  color: #fff;
  background-color: #333;
  height: 275px;
  font-family: "Roboto", sans-serif;
}

.footerBottom {
  padding-left: 1%;
  padding-top: 1%;
}

/*FORM*/

.contact {
  padding-top: 0px;
  padding-bottom: 0;
}

.mapa {
  height: none;
}

.contact-us {
  padding-bottom: 90px;

  font-size: 20px;
}

.contact-us .heading {
  padding-top: 15px;
  font-size: 20px;
}

.form-control {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.1);
  height: 50px;
  border-radius: 0;
  box-shadow: none;
  font-size: 20px;
}

textarea.form-control {
  min-height: 180px;
  resize: none;
  font-size: 20px;
}

.form-group {
  margin-bottom: 30px;
  font-size: 20px;
}

ul.address {
  margin-top: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.contact-info {
  margin-bottom: 8px;
  font-size: 15px;
  color: #000;
}

.btn-submit {
  display: block;
  padding: 12px;
  width: 50%;
  color: #000;
  border: 0;
  font-size: 20px;
  margin-top: 40px;
  font-weight: bold;
}

.btn-submit:hover {
  background-color: #81bef7;
}

/*MARCAS*/

.mainmarcas {
  padding: 4%;
  float: left;
  display: block;
  color: #494949;
  width: 14%;
  height: auto;
  margin-right: 2, 8%;
  margin-bottom: 3%;
  padding: 1%;
  display: block;
}
